<h1 class="title">สรุปรายการคำขอเปิดบัญชี</h1>
<mat-card>
  <!-- <mat-card>
    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile *ngFor="let info of openAccountInfos" [colspan]="info.cols" [rowspan]="info.rows"
        [style.background]="info.color">
        {{info.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card> -->

  <mat-card>
    <table>
      <tr>
        <td class="example" style="width: 20% !important">ชื่อ-นามสกุล</td>
        <td class="example" style="width: 30% !important">{{ openAccountSummary.customerInfo.name }} </td>
        <td class="example" style="width: 20% !important">เลขประจำตัวประชาชน/เลขหนังสือเดินทาง</td>
        <td class="example" style="width: 30% !important">{{ openAccountSummary.customerInfo.idCard }}</td>
      </tr>
      <tr>
        <p></p>
      </tr>
      <tr>
        <td class="example" style="width: 20% !important">ชื่อบัญชี</td>
        <td class="example" style="width: 30% !important">{{ openAccountSummary.accountInfo.accountNameTH }}</td>
        <td class="example" style="width: 20% !important">ชื่อบัญชีภาษาอังกฤษ</td>
        <td class="example" style="width: 30% !important">{{ openAccountSummary.accountInfo.accountNameEN }} </td>
      </tr>
    </table>
  </mat-card>

  <br>

  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <mat-card class="mat-card-inline example">
        <p style="width: 90% !important;">สถานที่ติดต่อทางไปรษณีย์</p>
        <mat-card-content class="example">
          <p style="width: 90% !important;">{{openAccountSummary.customerInfo.address}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-card-inline example">
        <p style="width: 94% !important;">หมายเลขโทรศัพท์และช่องทางการติดต่อทางอิเล็กทรอนิกส์</p>
        <mat-card-content class="example">
          <p style="width: 94% !important;">Email Address : {{openAccountSummary.customerInfo.email}}</p>
          <p style="width: 94% !important;">Mobile : {{openAccountSummary.customerInfo.mobile}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card class="example">
    <p>ข้อมูลบัญชีเงินฝาก</p>
    <mat-card-content class="example">
      <p *ngIf="openAccountSummary.accountInfo.accountNo">หมายเลขบัญชี : {{openAccountSummary.accountInfo.accountNo}}
      </p>
      <p>ผลิตภัณฑ์ : {{openAccountSummary.accountInfo.accountProduct}}</p>
      <p>วัตถุประสงค์การขอเปิดบัญชี : {{openAccountSummary.accountInfo.purpose}}</p>
      <p>หลักฐานการรับฝากเงิน : {{openAccountSummary.accountInfo.accountStatement}}</p>
      <p *ngIf="openAccountSummary.accountInfo.openAccountStatus === 'สำเร็จ'">ผลการสมัคร :
        {{openAccountSummary.accountInfo.openAccountStatus}}</p>
      <p *ngIf="openAccountSummary.accountInfo.openAccountStatus !== 'สำเร็จ'">ผลการสมัคร : <span
          style="color: red">{{openAccountSummary.accountInfo.openAccountStatus}}</span></p>
    </mat-card-content>
  </mat-card>
  <br>

  <mat-card *ngIf="isShow" class="example">
    <p>บริการเสริมอื่นๆ</p>
    <mat-card-content class="example">
      <p>{{openAccountSummary.subscriptionInfo.productName}} : Email Address :
        {{openAccountSummary.subscriptionInfo.email}} Mobile : {{openAccountSummary.subscriptionInfo.mobile}}</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card-actions style="text-align:center" class="example">
    <button mat-raised-button *ngIf="checkBtnOpenAppForm" style="background: #009bc9; color:#fff"
      (click)="getIntenalOpenAppForm()"><span class="button-size">เปิดบัญชีเงินฝากถัดไป</span></button>
    <button mat-raised-button *ngIf="checkBtn" color="primary" (click)="onEndProcess()"><span
        class="button-size">จบการทำรายการเปิดบัญชี</span></button>
    <button mat-raised-button *ngIf="checkBtnExportPDF" color="accent" (click)="exportPDF()"><span
        class="button-size">ใบคำขอเปิดบัญชี</span></button>
  </mat-card-actions>
</mat-card>