<mat-card>
  <mat-card-header>
    <mat-card-title class="title"><u>ตรวจสอบสถานะการยืนยันตัวตน</u></mat-card-title>
  </mat-card-header>
  <mat-card-content class="example">
    <div>
      <mat-label class="example"><strong>เลขที่อ้างอิงรายการ</strong></mat-label>&nbsp;<mat-label>{{openAccountVerify.referenceId}}
      </mat-label>
      <p class="example"><strong>กรุณายืนยันตัวตนเพื่อเริ่มใช้งานบัญชีเงินฝาก</strong></p>
      <mat-label class="example"><strong>สถานะการยืนยันตน</strong></mat-label>&nbsp;<mat-label>{{statusMessage}}</mat-label>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
  </mat-card-content>
  <mat-card-actions>
      <!-- <h2>{{countDown | async | formatTime}}</h2>
      <button [disabled]="counter == 0">OK</button> -->
    <button mat-raised-button color="accent" (click)="resendRPRequest()" [disabled]="!checkBTNResend"><span class="button-size">Resend Authentication</span></button>
    <button mat-raised-button color="primary" (click)="retriveVerifyStatus()"><span class="button-size">Refresh Status</span></button>
  </mat-card-actions>
</mat-card>