<h1>สรุปรายการคำขอเปิดบัญชี</h1>
<mat-card>
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>ชื่อ-นามสกุล</mat-grid-tile>
    <mat-grid-tile>นายทดสอบ เปิดบัญชี</mat-grid-tile>
    <mat-grid-tile>เลขประจำตัวประชาชน/เลขหนังสือเดินทาง</mat-grid-tile>
    <mat-grid-tile>1102331183261</mat-grid-tile>
    <mat-grid-tile>ชื่อบัญชี</mat-grid-tile>
    <mat-grid-tile>นายทดสอบ เปิดบัญชี</mat-grid-tile>
    <mat-grid-tile>หมายเลขบัญชี</mat-grid-tile>
    <mat-grid-tile>20-0006797-3</mat-grid-tile>
    <mat-grid-tile>English Name</mat-grid-tile>
    <mat-grid-tile>Todsob Perdbanchee</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <mat-card class="mat-card-inline">
        <p>สถานที่ติดต่อทางไปรษณีย์</p>
        <mat-card-content>
          <p>111/111 หมู่ 1 หมู่บ้านคนไทย</p>
          <p>คลองเตยเหนือ วัฒนา</p>
          <p>กรุงเทพมหานคร 10110</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-card-inline">
        <p>หมายเลขโทรศัพท์และช่องทางการติดต่อทางอิเล็กทรอนิกส์</p>
        <mat-card-content>
          <p>Email Address : todsorb@mail.com</p>
          <p>Mobile : 0801234567</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card>
    <p>ข้อมูลบัญชีเงินฝาก</p>
    <mat-card-content>
      <p>หมายเลขบัญชี : 20-0006797-3</p>
      <p>ผลิตภัณฑ์ : KK Smart Saving Individual</p>
      <p>วัตถุประสงค์การขอเปิดบัญชี : ออมเงิน</p>
      <p>หลักฐานการรับฝากเงิน : E-Account</p>
      <p>ผลการสมัคร : สำเร็จ</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <p>บริการเสริมอื่นๆ</p>
    <mat-card-content>
      <p>บริการ KKP e-Banking (บริการธนาคารทางอินเตอร์เน็ต) : Email Address : todsorb@mail.com Mobile : 0801234567</p>
    </mat-card-content>
  </mat-card>
  <mat-card-actions style="text-align:center">
    <button mat-raised-button color="primary">จบการทำรายการเปิดบัญชี</button>
  </mat-card-actions>
</mat-card>
